@page "/villas"
@inject HttpClient Http;
@inject NavigationManager NavigationManager;

<h3>Villas</h3>

@if (villas.Count <= 0)
{
	<span>Loading Villas...</span>
}
else
{
	<ul>
		@foreach (var villa in villas)
		{
			<li>@villa.Name - @villa.Rate </li>
			<button onclick="@(() => EditVilla(villa.Id))" class="btn btn-primary">Edit Villa</button>
		}
	</ul>
	<button @onclick="AddVilla" class="btn btn-primary">Add Villa</button> 
}

@code {

	List<VillaDTO> villas = new List<VillaDTO>();

	protected override async Task OnInitializedAsync()
	{
		var result = await Http.GetFromJsonAsync<List<VillaDTO>>("api/VillaAPI");
		if (result != null)
		{
			villas = result;
		}
	}

	public void AddVilla()
	{
		NavigationManager.NavigateTo("/villa");
	}

	public void EditVilla(int id)
	{
		NavigationManager.NavigateTo($"/villa/{id}");
		Console.WriteLine(id);
	}

}
